.location {
  background-image: url(../../assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
.header-Location {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 30px;
}
.headerP2 {
  font-size: 60px;
  text-align: center;
}

#floatingInput {
  width: 53%;
  transform: translateX(300px);
}

#floatingInput::placeholder {
  color: gray;
  padding-left: 100px;
}

#floatingInputGrid,label {
  width: 55%;
  margin-left: 300px;
  margin-top: 3px;
}
#floatingInputGrid2, .end{
  width: 58%;
  margin-top: 3px;
  margin-left: 40px;
}

.row,.end{
  padding-right: 100px;
}


.form-floating {
  color: black;
  font: bolder;
}



.form-control:focus {
  border-color: #725927;
  box-shadow: 3px 3px 3px #71592a;
}
#startTripBtn {
  background-color: rgb(94, 88, 55);
  border-radius: 50px;
  padding: 15px;
  margin-left: 570px;
  margin-top: 70px;
  font-size: 16px;
  font-weight: 800;
}
#startTripBtn:hover {
  background-color: #bea871;
}
#warning {
  color: black;
  text-align: center;
  margin-top: -100px;
}

a {
  text-decoration: none;
}
